Faker
Levenshtein
Pillow
beautifulsoup4
chardet
cryptography
flask
flask_login
flask_mail
flask_wtf
gensim
geopandas
keras
librosa
lxml
matplotlib
nltk
numpy
opencv-python
openpyxl
pandas
psutil
pycryptodome
pyquery
pytesseract
python-docx
pytz
regex
requests
rsa
scikit-learn
scipy
seaborn
shapely
soundfile
statsmodels
tensorflow
werkzeug
wordcloud
wtforms
xlwt
xlrd
